.mandatory {
    color: red;
  }
  .form-control {
    margin-bottom: 10px;
  }
  .rating i.fa-star 
  {
          color: yellow;
          cursor: pointer;
  }
   .table tbody tr:nth-child(2n) {
          background-color: rgb(133, 141, 133);
      }
  .sb{
      border: none;
      background-color: rgb(229, 238, 229);
      padding: 0.5rem;
      margin-top: 5px;
  }